*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

**/target/*
.idea/*
*.iml

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# working files
dependency-reduced-pom.xml
docker-data/*
.env

# vim temp files, shoo
*.sw?

# intellij/npm lock
v1x1-web/package-lock.json
