<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[ %date{yyyy-MM-dd HH:mm:ss.SSS} ] [ %thread ] [ %-5level ] [ %logger{5} ] - %message [ %X ]%n</Pattern>
        </layout>
    </appender>

    <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <dsn>https://0bf488fe9a7c4438b5bc10ad1da72a6b:469c949b9207482897836d672ef35472@sentry.io/121392?options</dsn>
        <!-- Optional, allows to select the ravenFactory -->
        <!--<ravenFactory>com.getsentry.raven.DefaultRavenFactory</ravenFactory>-->
    </appender>

    <logger name="tv.v1x1" level="trace" />

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="Sentry"/>
    </root>
</configuration>