body {
  margin: 0;
}

.config-group {
  border-left: 2px solid rgb(238, 238, 238);
  padding-left: 10px;
}

.config-group-dirty {
  border-left: 2px solid rgb(82, 160, 256);
}

.config-dirty-text {
  color: rgb(82, 160, 256);
}

.color-twitch {
  color: #6441A4;
}
.btn-twitch {
  color: #fff !important;
  background-color: #6441A4;
  border-color: #6441A4;
}
a.btn-twitch:hover {
  color: #fff;
}

.color-discord {
  color: #7289DA;
}
.btn-discord {
  color: #fff !important;
  background-color: #7289DA;
  border-color: #7289DA;
}
a.btn-discord:hover {
  color: #fff;
}

.btn-slack {
  color: #000 !important;
  background-color: #fff;
  border-color: #000;
}
a.btn-slack:hover {
  color: #000;
}

.btn-youtube {
  color: #fff;
  background-color: #ff0000;
  border-color: #aa0000;
}
a.btn-youtube:hover {
  color: #fff;
}

.btn-mixer {
  color: #fff;
  background-color: #006ac1;
  border-color: #006ac1;
}
a.btn-mixer:hover {
  color: #fff;
}

.mat-raised-button.mat-small {
  min-width: 0px;
}

.mat-raised-button.mat-tiny {
  min-width: 0px;
  line-height: 1rem;
}

.configuration-scope {
  margin-left: 30px;
  margin-top: 15px;
}

.form-group {
  margin-bottom: 1rem;

  > label {
    font-weight: bold;
  }
}

.card-container {
  max-width: 1024px;
  margin: 5rem auto;

  .card-container {
    margin: 1rem 0 0;
    max-width: 100%;
  }

  .mat-card-header {
    margin-top: -25px !important;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 1rem;
    background: rgba(0,0,0,.03);

    .mat-card-header-text {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  .mat-card-actions {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

welcome-page .card-container {
  max-width: 800px;
}

